# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales de Obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/indexedDB/
